openapi: 3.1.0
info:
  title: Customers Contracts Consumers REST API
  description: |
    <center>
        <strong>
         CONFIDENTIAL <br/>
         © 2026 Scheidt & Bachmann Parking Solutions GmbH, Germany
        </strong>
    </center>
  version: '2.0'
servers:
  - url: 'https://pm.preprod.parking.scheidt-bachmann.net/customers-contracts'
    description: Apisix
  - url: 'https://pm.preprod.parking.scheidt-bachmann.net/customers-contracts'
    description: Kong
security:
  - bearerAuth: []
tags:
  - name: RegularConsumer
    description: >-
      RegularConsumer API - The regular consumer is a consumer that can access
      parking spaces of a car-park with his vehicle on a regular basis.
  - name: ProductUpgrade
    description: >-
      Product Upgrade API - ProductUpgrade is a product which is upgraded to
      another product sharing the same facilities.
  - name: Registration
    description: Self-registration operations
  - name: VisitorConsumer
    description: >-
      VisitorConsumer API is dedicated for operations on consumers of type
      Visitor. VisitorConsumer is a temporary consumer, who can access the
      parking during the visit period only.
  - name: Customer
    description: >-
      Customer API is dedicated for operations on customers. The customer is the
      legal entity that enters into a contract with the contractual partner for
      a parking service in the car park and is also financially responsible for
      the service. The customer can be a private person or a company. Different
      products can be offered to private customers and companies. A customer can
      have different contracts. One or more consumers can be assigned to a
      customer.
  - name: Consumer
    description: >-
      Consumer API is dedicated for common operations on both types of
      consumers; Regular (i.e.  employees, residents..) and Visitor. The
      consumer is the person who enters/exits the parking, and can use multiple
      vehicules so can have multiple license plates. The consumer is defined for
      one customer. A customer can have many consumers. A consumer can be
      assigned to one or many contracts to benefit from parking services. The
      operations of creation, update, delete of consumers must be done with
      endpoints of RegularConsumer or VisitorConsumer.
  - name: BusinessPartners
    description: BusinessPartner API is dedicated for operations on Business Partner.
  - name: Contract
    description: >-
      Contract API is dedicated for operations on contracts. A contract is
      established between the customer and the car-park operator, by which the
      consumers of a customer can benefit from specified parking services.
  - name: PreBooking
    description: >-
      Pre-Booking API - Manage creation, update, deletion, cancellation and
      retrieval of pre-bookings.
  - name: FlexibleBooking
    description: >-
      Flexible Booking API - Flexible booking is a reservation made by a
      consumer who has a flexible product to have a parking space on specified
      dates.
  - name: Operator
    description: >-
      Operator API - A car park operator is the entity responsible for managing
      a car park.
  - name: Invitation
    description: Operations about invitations
  - name: Consumer Pass
    description: the Consumer Pass API
paths:
  '/v2/{tenantName}/pre-bookings/{reservationId}':
    get:
      tags:
        - PreBooking
      summary: Get a pre-booking by id
      operationId: publicGetPreBookingById
      parameters:
        - name: tenantName
          in: path
          description: Unique name of tenant in multi-tenant system
          required: true
          schema:
            type: string
            maxLength: 255
            minLength: 1
        - name: reservationId
          in: path
          description: Pre-booking identifier
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Pre-booking found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationInterfaceResponseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/ReservationInterfaceResponseDto'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationInterfaceResponseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/ReservationInterfaceResponseDto'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponseDto'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationInterfaceResponseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/ReservationInterfaceResponseDto'
    put:
      tags:
        - PreBooking
      summary: Update a pre-booking
      operationId: publicUpdatePreBooking
      parameters:
        - name: tenantName
          in: path
          description: Unique name of tenant in multi-tenant system
          required: true
          schema:
            type: string
            maxLength: 255
            minLength: 1
        - name: reservationId
          in: path
          description: >-
            Pre-booking identifier. Accepts either the **internal reservation
            ID** (`ReservationId`) or the **external/foreign reservation ID**
            (`ForeignReservationId`). The system will resolve the pre-booking by
            checking both values.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReservationInterfaceUpdateRequestDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/ReservationInterfaceUpdateRequestDto'
        required: true
      responses:
        '200':
          description: Pre-booking updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationInterfaceResponseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/ReservationInterfaceResponseDto'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationInterfaceResponseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/ReservationInterfaceResponseDto'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationInterfaceResponseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/ReservationInterfaceResponseDto'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationInterfaceResponseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/ReservationInterfaceResponseDto'
    delete:
      tags:
        - PreBooking
      summary: Delete a pre-booking
      operationId: publicDeletePreBooking
      parameters:
        - name: tenantName
          in: path
          description: Unique name of tenant in multi-tenant system
          required: true
          schema:
            type: string
            maxLength: 255
            minLength: 1
        - name: reservationId
          in: path
          description: >-
            Pre-booking identifier. Accepts either the **internal reservation
            ID** (`ReservationId`) or the **external/foreign reservation ID**
            (`ForeignReservationId`). The system will resolve the pre-booking by
            checking both values.
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Deleted
        '400':
          description: Bad request
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponseDto'
        '500':
          description: Internal server error
  '/v2/{tenantName}/invitations/{id}/status':
    put:
      tags:
        - Invitation
      summary: Update invitation's status
      operationId: externalUpdateInvitationStatus
      parameters:
        - name: tenantName
          in: path
          description: Unique name of tenant in multitenant system
          required: true
          schema:
            type: string
            maxLength: 255
            minLength: 1
        - name: id
          in: path
          description: Invitation's id
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvitationStatusRequestDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvitationCreationDto'
        '400':
          description: BAD REQUEST
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorSchemasDto'
              examples:
                BadRequestExample:
                  description: BadRequestExample
                  value:
                    timestamp: '2025-04-24T08:30:00Z'
                    code: BAD_REQUEST
                    message: Invalid field
                    subErrors:
                      - field: status
                        message: This field is required
                        code: MUST_NOT_BE_NULL
        '404':
          description: NOT FOUND
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorSchemasDto'
              examples:
                NotFoundExample:
                  description: NotFoundExample
                  value:
                    timestamp: '2025-04-24T08:30:00Z'
                    code: DATA_NOT_FOUND
                    message: >-
                      Invitation with id 3fa85f64-5717-4562-b3fc-2c963f66afa6 is
                      not found
                    subErrors: []
        '412':
          description: PRECONDITION FAILED
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorSchemasDto'
              examples:
                BadRequestExample:
                  description: BadRequestExample
                  value:
                    timestamp: '2025-04-24T08:30:00Z'
                    code: DATA_REVISION_CONFLICT
                    message: The data you are trying to update is out of date
                    subErrors: []
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorSchemasDto'
              examples:
                ServerErrorExample:
                  description: ServerErrorExample
                  value:
                    timestamp: '2025-04-24T09:25:00Z'
                    code: INTERNAL_SERVER_ERROR
                    message: Database connection failed
                    subErrors: []
  '/v2/{tenantName}/customers/{customerId}/consumers/regular/aggregates/{businessId}':
    put:
      tags:
        - RegularConsumer
      summary: Update a regular consumer
      description: >-
        Update an existing regular consumer for an existent customer. Regular
        consumer may be associated to specific contract products
      operationId: publicUpdateConsumer
      parameters:
        - name: tenantName
          in: path
          description: Unique name of tenant in multi-tenant system
          required: true
          schema:
            type: string
            maxLength: 255
            minLength: 1
        - name: businessId
          in: path
          description: >-
            Consumer generated business id. Format is= Nyyyynnnnnnnn (yyyy =
            year of creation, nnnnnnnn = random ID (8)).
          required: true
          schema:
            type: string
        - name: customerId
          in: path
          description: >-
            Customer generated business id. Format is= CXyyyynnnnnn (X = C
            "company"; P "private"; B "B2C" , yyyy = year of creation, nnnnnnnn
            = random ID (6)).
          required: true
          schema:
            type: string
        - name: sendInvitation
          in: query
          description: Send invitation after the update of consumer.
          required: false
          schema:
            type: boolean
            default: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConsumerRegularContractUpdateRequestDto'
        required: true
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsumerRegularContractDto'
        '400':
          description: BAD REQUEST
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegularConsumerApiErrorDto'
              examples:
                BadRequestExample:
                  description: BadRequestExample
                  value:
                    timestamp: '2025-04-24T08:30:00Z'
                    code: BAD_REQUEST
                    message: Invalid field
                    subErrors:
                      - field: firstName
                        message: This field is required
                        code: MUST_NOT_BE_NULL
        '404':
          description: NOT FOUND
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorSchemasDto'
              examples:
                NotFoundExample:
                  description: NotFoundExample
                  value:
                    timestamp: '2025-04-24T08:30:00Z'
                    code: DATA_NOT_FOUND
                    message: Consumer with business id 'N2023YjugGPSZ' was not found
                    subErrors: []
        '412':
          description: PRECONDITION FAILED
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorSchemasDto'
              examples:
                BadRequestExample:
                  description: BadRequestExample
                  value:
                    timestamp: '2025-04-24T08:30:00Z'
                    code: DATA_REVISION_CONFLICT
                    message: Data is out dated
                    subErrors: []
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorSchemasDto'
              examples:
                ServerErrorExample:
                  description: ServerErrorExample
                  value:
                    timestamp: '2025-04-24T09:25:00Z'
                    code: INTERNAL_SERVER_ERROR
                    message: Database connection failed
                    subErrors: []
  '/v2/{tenantName}/customers/{customerBusinessId}/contracts/{contractBusinessId}/consumers/visitor/{visitorBusinessId}':
    put:
      tags:
        - VisitorConsumer
      summary: Update an existing visitor
      operationId: publicUpdateVisitor
      parameters:
        - name: tenantName
          in: path
          description: Unique name of tenant in multi tenant system
          required: true
          schema:
            type: string
            maxLength: 255
            minLength: 1
        - name: customerBusinessId
          in: path
          description: >-
            Customer generated business id. Format is= CXyyyynnnnnn (X = C
            "company"; P "private"; B "B2C" , yyyy = year of creation, nnnnnnnn
            = random ID (6)).
          required: true
          schema:
            type: string
        - name: contractBusinessId
          in: path
          description: >-
            Contract generated business id. Format is= Ayyyynnnnnnnn (yyyy =
            year of creation, nnnnnnnn = random ID (8)).
          required: true
          schema:
            type: string
        - name: visitorBusinessId
          in: path
          description: >-
            Visitor generated business id. Format is= Nyyyynnnnnnnn (yyyy = year
            of creation, nnnnnnnn = random ID (8)).
          required: true
          schema:
            type: string
        - name: validity-check
          in: header
          required: false
          schema:
            type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/consumer-visitor_update_request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/consumer-visitor'
        '400':
          description: BAD REQUEST
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VisitorConsumerApiErrorDto'
              examples:
                BadRequestExample:
                  description: BadRequestExample
                  value:
                    timestamp: '24-04-2025 08:30:00'
                    code: ILLEGAL_ARGUMENT
                    message: Invalid visit
                    subErrors:
                      - field: startTime
                        message: >-
                          Visit start time can't be before contract start time
                          or after contract end time
                        code: INVALID_VISIT_WITH_CONTRACT_START_DATE
        '404':
          description: NOT FOUND
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorSchemasDto'
              examples:
                NotFoundExample:
                  description: NotFoundExample
                  value:
                    timestamp: '24-04-2025 08:30:00'
                    code: DATA_NOT_FOUND
                    message: Visitor not found with businessId N20234FhhkNMo
                    subErrors: []
        '412':
          description: PRECONDITION FAILED
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorSchemasDto'
              examples:
                BadRequestExample:
                  description: BadRequestExample
                  value:
                    timestamp: '24-04-2025 08:30:00'
                    code: DATA_REVISION_CONFLICT
                    message: Data is out dated
                    subErrors: []
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorSchemasDto'
              examples:
                ServerErrorExample:
                  description: ServerErrorExample
                  value:
                    timestamp: '24-04-2025 08:30:00'
                    code: INTERNAL_SERVER_ERROR
                    message: Database connection failed
                    subErrors: []
  '/v2/{tenantName}/customers/{businessId}':
    get:
      tags:
        - Customer
      summary: Get customer
      description: Get customer details by business Id
      operationId: publicGetCustomer
      parameters:
        - name: tenantName
          in: path
          description: Unique name of tenant in multi-tenant system
          required: true
          schema:
            type: string
            maxLength: 255
            minLength: 1
        - name: businessId
          in: path
          description: >-
            Customer generated business id. Format is= CXyyyynnnnnn (X = C
            "company"; P "private"; B "B2C" , yyyy = year of creation, nnnnnnnn
            = random ID (6)).
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerDto'
        '404':
          description: NOT FOUND
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorSchemasDto'
              examples:
                NotFoundExample:
                  description: NotFoundExample
                  value:
                    timestamp: '2025-04-24T08:30:00Z'
                    code: DATA_NOT_FOUND
                    message: Customer with business id C2022C863EF3a12 was not found
                    subErrors: []
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorSchemasDto'
              examples:
                ServerErrorExample:
                  description: ServerErrorExample
                  value:
                    timestamp: '2025-04-24T09:25:00Z'
                    code: INTERNAL_SERVER_ERROR
                    message: Database connection failed
                    subErrors: []
    put:
      tags:
        - Customer
      summary: Update customer
      description: Update an existing customer
      operationId: publicUpdateCustomer
      parameters:
        - name: tenantName
          in: path
          description: Unique name of tenant in multi-tenant system
          required: true
          schema:
            type: string
            maxLength: 255
            minLength: 1
        - name: businessId
          in: path
          description: >-
            Customer generated business id. Format is= CXyyyynnnnnn (X = C
            "company"; P "private"; B "B2C" , yyyy = year of creation, nnnnnnnn
            = random ID (6)).
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerDto'
        required: true
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerDto'
        '400':
          description: BAD REQUEST
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorSchemasDto'
              examples:
                BadRequestExample:
                  description: BadRequestExample
                  value:
                    timestamp: '2025-04-24T08:30:00Z'
                    code: BAD_REQUEST
                    message: Invalid field
                    subErrors:
                      - field: customerType
                        message: This field is required
                        code: MUST_NOT_BE_NULL
        '404':
          description: NOT FOUND
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorSchemasDto'
              examples:
                NotFoundExample:
                  description: NotFoundExample
                  value:
                    timestamp: '2025-04-24T08:30:00Z'
                    code: DATA_NOT_FOUND
                    message: Tenant not found
                    subErrors: []
        '412':
          description: PRECONDITION FAILED
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorSchemasDto'
              examples:
                BadRequestExample:
                  description: BadRequestExample
                  value:
                    timestamp: '2025-04-24T08:30:00Z'
                    code: DATA_REVISION_CONFLICT
                    message: Data is out dated
                    subErrors: []
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorSchemasDto'
              examples:
                ServerErrorExample:
                  description: ServerErrorExample
                  value:
                    timestamp: '2025-04-24T09:25:00Z'
                    code: INTERNAL_SERVER_ERROR
                    message: Database connection failed
                    subErrors: []
    delete:
      tags:
        - Customer
      summary: Delete customer
      description: Delete an existing customer
      operationId: publicDeleteCustomer
      parameters:
        - name: tenantName
          in: path
          description: Unique name of tenant in multi-tenant system
          required: true
          schema:
            type: string
            maxLength: 255
            minLength: 1
        - name: businessId
          in: path
          description: >-
            Customer generated business id. Format is= CXyyyynnnnnn (X = C
            "company"; P "private"; B "B2C" , yyyy = year of creation, nnnnnnnn
            = random ID (6)).
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Deleted
        '404':
          description: NOT FOUND
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorSchemasDto'
              examples:
                NotFoundExample:
                  description: NotFoundExample
                  value:
                    timestamp: '2025-04-24T08:30:00Z'
                    code: DATA_NOT_FOUND
                    message: Customer with business id C2022C863EF3a12 was not found
                    subErrors: []
        '409':
          description: CONFLICT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorSchemasDto'
              examples:
                conflictExample:
                  description: conflictExample
                  value:
                    timestamp: '09-04-2026 05:04:41'
                    message: Customer deletion failed
                    code: BUSINESS_RULE_VIOLATION
                    subErrors:
                      - object: Customer
                        field: customerBusinessId
                        message: >-
                          Customer cannot be deleted because at least one
                          consumer is present
                        code: PARKER_STILL_PRESENT
                      - object: Customer
                        field: customerBusinessId
                        message: >-
                          Customer cannot be deleted as there is linked prepaid
                          reservations.
                        code: BOOKING_EXISTS
                      - object: Customer
                        field: customerBusinessId
                        message: >-
                          Customer cannot be deleted because it has at least one
                          contract
                        code: CUSTOMER_HAS_CONTRACTS
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorSchemasDto'
              examples:
                ServerErrorExample:
                  description: ServerErrorExample
                  value:
                    timestamp: '2025-04-24T09:25:00Z'
                    code: INTERNAL_SERVER_ERROR
                    message: Database connection failed
                    subErrors: []
  '/v2/{tenantName}/contracts/{businessId}':
    get:
      tags:
        - Contract
      summary: 'Get contract '
      description: Get a contract details by business id
      operationId: publicGetContract
      parameters:
        - name: tenantName
          in: path
          description: Unique name of tenant in multi-tenant system
          required: true
          schema:
            type: string
            maxLength: 255
            minLength: 1
        - name: businessId
          in: path
          description: >-
            Contract generated business id. Format is= Ayyyynnnnnnnn (yyyy =
            year of creation, nnnnnnnn = random ID (8)).
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractDetailsV2Dto'
        '404':
          description: NOT FOUND
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorSchemasDto'
              examples:
                NotFoundExample:
                  description: NotFoundExample
                  value:
                    timestamp: '2025-04-24T08:30:00Z'
                    code: DATA_NOT_FOUND
                    message: Contract with business id A2025Xv15nHLD5 not found
                    subErrors: []
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorSchemasDto'
              examples:
                ServerErrorExample:
                  description: ServerErrorExample
                  value:
                    timestamp: '2025-04-24T09:25:00Z'
                    code: INTERNAL_SERVER_ERROR
                    message: Database connection failed
                    subErrors: []
    put:
      tags:
        - Contract
      summary: Update contract
      description: >-
        <p>Update an existing contract. The validations at the update of a
        contract are:</p>  <ul>    <li>startTime is mandatory</li>   
        <li>startTime is less than or equal to endTime</li>    <li>      product
        validations      <ul>        <li>productStatus is ACTIVE</li>       
        <li>the list of facilities of the product belongs to the operator of the
        contract</li>      </ul>    </li>  </ul>
      operationId: publicUpdateContract
      parameters:
        - name: tenantName
          in: path
          description: Unique name of tenant in multi-tenant system
          required: true
          schema:
            type: string
            maxLength: 255
            minLength: 1
        - name: businessId
          in: path
          description: >-
            Contract generated business id. Format is= Ayyyynnnnnnnn (yyyy =
            year of creation, nnnnnnnn = random ID (8)).
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContractDetailsUpdateRequestDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractDetailsV2Dto'
        '400':
          description: BAD REQUEST
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorSchemasDto'
              examples:
                BadRequestExample:
                  description: BadRequestExample
                  value:
                    timestamp: '2025-04-24T08:30:00Z'
                    code: BAD_REQUEST
                    message: Invalid field
                    subErrors:
                      - field: startTime
                        message: This field is required
                        code: MUST_NOT_BE_NULL
        '404':
          description: NOT FOUND
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorSchemasDto'
              examples:
                NotFoundExample:
                  description: NotFoundExample
                  value:
                    timestamp: '2025-04-24T08:30:00Z'
                    code: DATA_NOT_FOUND
                    message: Contract with business id A2025Xv15nHLD5 not found
                    subErrors: []
        '412':
          description: PRECONDITION FAILED
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorSchemasDto'
              examples:
                BadRequestExample:
                  description: BadRequestExample
                  value:
                    timestamp: '2025-04-24T08:30:00Z'
                    code: DATA_REVISION_CONFLICT
                    message: Data is out dated
                    subErrors: []
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorSchemasDto'
              examples:
                ServerErrorExample:
                  description: ServerErrorExample
                  value:
                    timestamp: '2025-04-24T09:25:00Z'
                    code: INTERNAL_SERVER_ERROR
                    message: Database connection failed
                    subErrors: []
    delete:
      tags:
        - Contract
      summary: Delete contract
      description: Delete an existing contract
      operationId: publicDeleteContract
      parameters:
        - name: tenantName
          in: path
          description: Unique name of tenant in multi-tenant system
          required: true
          schema:
            type: string
            maxLength: 255
            minLength: 1
        - name: businessId
          in: path
          description: >-
            Contract generated business id. Format is= Ayyyynnnnnnnn (yyyy =
            year of creation, nnnnnnnn = random ID (8)).
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
        '404':
          description: NOT FOUND
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorSchemasDto'
              examples:
                NotFoundExample:
                  description: NotFoundExample
                  value:
                    timestamp: '2025-04-24T08:30:00Z'
                    code: DATA_NOT_FOUND
                    message: Contract with business id A2025Xv15nHLD5 not found
                    subErrors: []
        '409':
          description: CONFLICT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorDto'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorSchemasDto'
              examples:
                ServerErrorExample:
                  description: ServerErrorExample
                  value:
                    timestamp: '2025-04-24T09:25:00Z'
                    code: INTERNAL_SERVER_ERROR
                    message: Database connection failed
                    subErrors: []
  '/v2/{tenantName}/contracts/{businessId}/status':
    put:
      tags:
        - Contract
      summary: Update contract status
      description: Update contract status
      operationId: publicUpdateContractStatus
      parameters:
        - name: tenantName
          in: path
          description: Unique name of tenant in multi-tenant system
          required: true
          schema:
            type: string
            maxLength: 255
            minLength: 1
        - name: businessId
          in: path
          description: >-
            Contract generated business id. Format is= Ayyyynnnnnnnn (yyyy =
            year of creation, nnnnnnnn = random ID (8)).
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicUpdateContractStatusRequestDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateContractStatusResponseDto'
        '400':
          description: BAD REQUEST
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorSchemasDto'
              examples:
                BadRequestExample:
                  description: BadRequestExample
                  value:
                    timestamp: '2025-04-24T08:30:00Z'
                    code: MALFORMED_JSON_REQUEST
                    message: Unexpected value 'wrong status'
                    subErrors: []
        '404':
          description: NOT FOUND
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorSchemasDto'
              examples:
                NotFoundExample:
                  description: NotFoundExample
                  value:
                    timestamp: '2025-04-24T08:30:00Z'
                    code: DATA_NOT_FOUND
                    message: Contract with business id A2025Xv15nHLD5 not found
                    subErrors: []
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorSchemasDto'
              examples:
                ServerErrorExample:
                  description: ServerErrorExample
                  value:
                    timestamp: '2025-04-24T09:25:00Z'
                    code: INTERNAL_SERVER_ERROR
                    message: Database connection failed
                    subErrors: []
  '/v2/{tenantName}/contracts/{businessId}/payment-token':
    put:
      tags:
        - Contract
      summary: 'Set payment token for contract '
      description: Set payment token for contract by business id
      operationId: publicSetPaymentToken
      parameters:
        - name: tenantName
          in: path
          description: Unique name of tenant in multi-tenant system
          required: true
          schema:
            type: string
            maxLength: 255
            minLength: 1
        - name: businessId
          in: path
          description: >-
            Contract generated business id. Format is= Ayyyynnnnnnnn (yyyy =
            year of creation, nnnnnnnn = random ID (8)).
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicSetPaymentTokenRequestDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessObjectDto'
        '404':
          description: NOT FOUND
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorSchemasDto'
              examples:
                NotFoundExample:
                  description: NotFoundExample
                  value:
                    timestamp: '2025-04-24T08:30:00Z'
                    code: DATA_NOT_FOUND
                    message: Contract with business id A2025Xv15nHLD5 not found
                    subErrors: []
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorSchemasDto'
              examples:
                ServerErrorExample:
                  description: ServerErrorExample
                  value:
                    timestamp: '2025-04-24T09:25:00Z'
                    code: INTERNAL_SERVER_ERROR
                    message: Database connection failed
                    subErrors: []
  '/v2/{tenantName}/consumers/visitor/{visitorBusinessId}/extension':
    put:
      tags:
        - VisitorConsumer
      summary: Extend Multi-use visit period by visitor business id
      operationId: publicExtendVisit
      parameters:
        - name: tenantName
          in: path
          description: Unique name of tenant in multi tenant system
          required: true
          schema:
            type: string
            maxLength: 255
            minLength: 1
        - name: visitorBusinessId
          in: path
          description: Visitor business id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/visit_extension'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/visit_extension'
        '400':
          description: BAD REQUEST
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VisitExtensionApiErrorDto'
        '404':
          description: NOT FOUND
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorSchemasDto'
              examples:
                NotFoundExample:
                  description: NotFoundExample
                  value:
                    timestamp: '24-04-2025 08:30:00'
                    code: DATA_NOT_FOUND
                    message: Visitor not found with businessId N20234FhhkNMo
                    subErrors: []
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorSchemasDto'
              examples:
                ServerErrorExample:
                  description: ServerErrorExample
                  value:
                    timestamp: '24-04-2025 08:30:00'
                    code: INTERNAL_SERVER_ERROR
                    message: Database connection failed
                    subErrors: []
    delete:
      tags:
        - VisitorConsumer
      summary: Delete visit extension by visitor business id
      operationId: publicCancelExtension
      parameters:
        - name: tenantName
          in: path
          description: Unique name of tenant in multi tenant system
          required: true
          schema:
            type: string
            maxLength: 255
            minLength: 1
        - name: visitorBusinessId
          in: path
          description: >-
            Visitor generated business id. Format is= Nyyyynnnnnnnn (yyyy = year
            of creation, nnnnnnnn = random ID (8)).
          required: true
          schema:
            type: string
      responses:
        '204':
          description: NO CONTENT. Extension canceled.
  '/v2/{tenantName}/bookings/{bookingId}':
    get:
      tags:
        - FlexibleBooking
      summary: Get an existing flexible booking by id
      operationId: publicGetFlexibleBooking
      parameters:
        - name: tenantName
          in: path
          description: Unique name of tenant in multi tenant system
          required: true
          schema:
            type: string
            maxLength: 255
            minLength: 1
        - name: bookingId
          in: path
          description: Booking's id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlexibleBookingDto'
        '404':
          description: NOT FOUND
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlexibleBookingNotFoundApiErrorDto'
              examples:
                NotFoundExample:
                  description: NotFoundExample
                  value:
                    timestamp: '2025-04-24T08:30:00Z'
                    code: FLEX_BOOKING_NOT_FOUND
                    message: >-
                      Flexible booking with Id
                      357e07a7-b08f-4742-bc77-a45468c82f0f was not found
                    subErrors: []
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorSchemasDto'
              examples:
                ServerErrorExample:
                  description: ServerErrorExample
                  value:
                    timestamp: '2025-04-24T09:25:00Z'
                    code: INTERNAL_SERVER_ERROR
                    message: Database connection failed
                    subErrors: []
    put:
      tags:
        - FlexibleBooking
      summary: Update an existing flexible booking
      description: >-
        Updates an existing flexible booking.  The API supports two booking
        modes determined by the relationship between `startDateTime` and
        `endDateTime`:  - **Whole-day booking** (`startDateTime ==
        endDateTime`): The booking covers the entire calendar day.   The access
        profile associated with the product must allow all-day access on the
        requested day of the week. - **Intra-day booking** (`endDateTime >
        startDateTime`): The booking covers a specific time range within a
        single day.   Both `startDateTime` and `endDateTime` must fall on the
        same calendar day, and the duration must be at least 1 hour.   The time
        range must be fully included in one of the product's access profile
        recurrence windows.  Invalid requests (e.g. `endDateTime <
        startDateTime`, cross-day intra-day range, duration under 1 hour, or
        access profile mismatch) are rejected with a `400` response containing a
        specific error code and message.
      operationId: publicUpdateFlexibleBooking
      parameters:
        - name: tenantName
          in: path
          description: Unique name of tenant in multi tenant system
          required: true
          schema:
            type: string
            maxLength: 255
            minLength: 1
        - name: bookingId
          in: path
          description: Booking's id
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FlexibleBookingDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlexibleBookingDto'
        '400':
          description: BAD REQUEST
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlexibleBookingApiErrorDto'
              examples:
                BadRequestExample:
                  description: BadRequestExample
                  value:
                    timestamp: '2025-04-24T08:30:00Z'
                    code: ILLEGAL_ARGUMENT
                    message: Invalid booking
                    subErrors:
                      - field: startDateTime
                        message: >-
                          Booking overlapping not allowed for the same consumer,
                          product, facility and datetime
                        code: INVALID_BOOKING_OVERLAP
                Entry already recorded:
                  description: Entry already recorded
                  value:
                    timestamp: '2025-04-24T08:30:00Z'
                    code: FLEXIBLE_BOOKING_ENTRY_ALREADY_RECORDED
                    message: >-
                      Cannot update flexible booking as entry has already been
                      recorded
                    subErrors: []
        '404':
          description: NOT FOUND
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlexibleBookingNotFoundApiErrorDto'
              examples:
                NotFoundExample:
                  description: NotFoundExample
                  value:
                    timestamp: '2025-04-24T08:30:00Z'
                    code: FLEX_BOOKING_NOT_FOUND
                    message: >-
                      Flexible booking with Id
                      357e07a7-b08f-4742-bc77-a45468c82f0f was not found
                    subErrors: []
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorSchemasDto'
              examples:
                ServerErrorExample:
                  description: ServerErrorExample
                  value:
                    timestamp: '2025-04-24T09:25:00Z'
                    code: INTERNAL_SERVER_ERROR
                    message: Database connection failed
                    subErrors: []
    delete:
      tags:
        - FlexibleBooking
      summary: Delete an existing flexible booking
      operationId: publicDeleteFlexibleBooking
      parameters:
        - name: tenantName
          in: path
          description: Unique name of tenant in multi tenant system
          required: true
          schema:
            type: string
            maxLength: 255
            minLength: 1
        - name: bookingId
          in: path
          description: Booking's id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Booking deleted
        '400':
          description: BAD REQUEST
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlexibleBookingApiErrorDto'
              examples:
                Entry already recorded:
                  description: Entry already recorded
                  value:
                    timestamp: '2025-04-24T08:30:00Z'
                    code: FLEXIBLE_BOOKING_ENTRY_ALREADY_RECORDED
                    message: >-
                      Cannot delete flexible booking as entry has already been
                      recorded
                    subErrors: []
        '404':
          description: NOT FOUND
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlexibleBookingNotFoundApiErrorDto'
              examples:
                NotFoundExample:
                  description: NotFoundExample
                  value:
                    timestamp: '2025-04-24T08:30:00Z'
                    code: CONSUMER_NOT_FOUND
                    message: Consumer not found
                    subErrors: []
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorSchemasDto'
              examples:
                ServerErrorExample:
                  description: ServerErrorExample
                  value:
                    timestamp: '2025-04-24T09:25:00Z'
                    code: INTERNAL_SERVER_ERROR
                    message: Database connection failed
                    subErrors: []
  '/v2/{tenantName}/pre-bookings':
    get:
      tags:
        - PreBooking
      summary: Search pre-bookings by criteria
      operationId: publicSearchPreBookings
      parameters:
        - name: tenantName
          in: path
          description: Unique name of tenant in multi-tenant system
          required: true
          schema:
            type: string
            maxLength: 255
            minLength: 1
        - name: startTime
          in: query
          description: Filter bookings starting on/after this timestamp (UTC)
          required: false
          schema:
            type: string
            format: date-time
        - name: endTime
          in: query
          description: Filter bookings ending on/before this timestamp (UTC)
          required: false
          schema:
            type: string
            format: date-time
        - name: licensePlate
          in: query
          description: Filter by license plate
          required: false
          schema:
            type: string
        - name: facilityId
          in: query
          description: Filter by facility business identifier
          required: false
          schema:
            type: string
        - name: productRef
          in: query
          description: Filter by product business identifier
          required: false
          schema:
            type: string
        - name: foreignReservationId
          in: query
          description: Filter by foreign reservation identifier
          required: false
          schema:
            type: string
        - name: customerId
          in: query
          description: Filter by the customer business identifier
          required: false
          schema:
            type: string
        - name: consumerId
          in: query
          description: Filter by the pre-booker business identifier
          required: false
          schema:
            type: string
        - name: page
          in: query
          description: Zero-based page index
          required: false
          schema:
            type: integer
            format: int32
            default: 0
            minimum: 0
        - name: size
          in: query
          description: Page size
          required: false
          schema:
            type: integer
            format: int32
            default: 20
            minimum: 1
      responses:
        '200':
          description: List of matching pre-bookings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationInterfaceResponseListDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/ReservationInterfaceResponseListDto'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationInterfaceResponseListDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/ReservationInterfaceResponseListDto'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationInterfaceResponseListDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/ReservationInterfaceResponseListDto'
    post:
      tags:
        - PreBooking
      summary: Create a new pre-booking
      operationId: publicCreatePreBooking
      parameters:
        - name: tenantName
          in: path
          description: Unique name of tenant in multi-tenant system
          required: true
          schema:
            type: string
            maxLength: 255
            minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReservationInterfaceCreateRequestDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/ReservationInterfaceCreateRequestDto'
        required: true
      responses:
        '201':
          description: Pre-booking created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationInterfaceResponseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/ReservationInterfaceResponseDto'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationInterfaceResponseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/ReservationInterfaceResponseDto'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationInterfaceResponseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/ReservationInterfaceResponseDto'
  '/v2/{tenantName}/customers':
    get:
      tags:
        - Customer
      summary: List customers
      description: Get list of customers based on search criteria
      operationId: publicGetCustomers
      parameters:
        - name: tenantName
          in: path
          description: Unique name of tenant in multi-tenant system
          required: true
          schema:
            type: string
            maxLength: 255
            minLength: 1
        - name: type
          in: query
          description: 'Customer type, person, company or b2c.'
          required: false
          schema:
            type: string
            enum:
              - PERSON
              - COMPANY
              - B2C
            title: CustomerTypeDto
        - name: page
          in: query
          description: Number of requested page
          required: false
          schema:
            type: integer
            format: int32
        - name: size
          in: query
          description: Size of requested page. Default is 20. Maximum is 100.
          required: false
          schema:
            type: integer
            format: int32
        - name: sortBy
          in: query
          description: Sort criteria
          required: false
          schema:
            type: string
        - name: sortDirection
          in: query
          description: sort direction
          required: false
          schema:
            type: string
            enum:
              - ASC
              - DESC
            title: SortDirectionDto
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerPageDto'
        '404':
          description: NOT FOUND
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorSchemasDto'
              examples:
                NotFoundExample:
                  description: NotFoundExample
                  value:
                    timestamp: '2025-04-24T08:30:00Z'
                    code: DATA_NOT_FOUND
                    message: Tenant not found
                    subErrors: []
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorSchemasDto'
              examples:
                ServerErrorExample:
                  description: ServerErrorExample
                  value:
                    timestamp: '2025-04-24T09:25:00Z'
                    code: INTERNAL_SERVER_ERROR
                    message: Database connection failed
                    subErrors: []
    post:
      tags:
        - Customer
      summary: Create customer
      description: Create a new customer
      operationId: publicCreateCustomer
      parameters:
        - name: tenantName
          in: path
          description: Unique name of tenant in multi-tenant system
          required: true
          schema:
            type: string
            maxLength: 255
            minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerCreationRequestDto'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerDto'
        '400':
          description: BAD REQUEST
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorSchemasDto'
              examples:
                BadRequestExample:
                  description: BadRequestExample
                  value:
                    timestamp: '2025-04-24T08:30:00Z'
                    code: BAD_REQUEST
                    message: Invalid field
                    subErrors:
                      - field: customerType
                        message: This field is required
                        code: MUST_NOT_BE_NULL
        '404':
          description: NOT FOUND
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorSchemasDto'
              examples:
                NotFoundExample:
                  description: NotFoundExample
                  value:
                    timestamp: '2025-04-24T08:30:00Z'
                    code: DATA_NOT_FOUND
                    message: Tenant not found
                    subErrors: []
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorSchemasDto'
              examples:
                ServerErrorExample:
                  description: ServerErrorExample
                  value:
                    timestamp: '2025-04-24T09:25:00Z'
                    code: INTERNAL_SERVER_ERROR
                    message: Database connection failed
                    subErrors: []
  '/v2/{tenantName}/customers/{customerBusinessId}/consumers/regular/aggregates':
    post:
      tags:
        - RegularConsumer
      summary: Create a regular consumer
      description: >-
        Create a new regular consumer for an existent customer. Regular consumer
        may be associated to specific contract products
      operationId: publicCreateConsumer
      parameters:
        - name: tenantName
          in: path
          description: Unique name of tenant in multi-tenant system
          required: true
          schema:
            type: string
            maxLength: 255
            minLength: 1
        - name: customerBusinessId
          in: path
          description: >-
            Customer generated business id. Format is= CXyyyynnnnnn (X = C
            "company"; P "private"; B "B2C" , yyyy = year of creation, nnnnnnnn
            = random ID (6)).
          required: true
          schema:
            type: string
        - name: sendInvitation
          in: query
          description: Send invitation after the creation of consumer.
          required: false
          schema:
            type: boolean
            default: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/consumer-regular-contract-creation-request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsumerRegularContractDto'
        '400':
          description: BAD REQUEST
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegularConsumerApiErrorDto'
              examples:
                BadRequestExample:
                  description: BadRequestExample
                  value:
                    timestamp: '2025-04-24T08:30:00Z'
                    code: BAD_REQUEST
                    message: Invalid field
                    subErrors:
                      - field: firstName
                        message: This field is required
                        code: MUST_NOT_BE_NULL
        '404':
          description: NOT FOUND
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorSchemasDto'
              examples:
                NotFoundExample:
                  description: NotFoundExample
                  value:
                    timestamp: '2025-04-24T08:30:00Z'
                    code: DATA_NOT_FOUND
                    message: Tenant not found
                    subErrors: []
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorSchemasDto'
              examples:
                ServerErrorExample:
                  description: ServerErrorExample
                  value:
                    timestamp: '2025-04-24T09:25:00Z'
                    code: INTERNAL_SERVER_ERROR
                    message: Database connection failed
                    subErrors: []
  '/v2/{tenantName}/customers/{businessId}/business-partners':
    get:
      tags:
        - BusinessPartners
      summary: GET business partner
      description: Get business partner by customer
      operationId: publicGetBusinessPartner
      parameters:
        - name: tenantName
          in: path
          description: Unique name of tenant in multi-tenant system
          required: true
          schema:
            type: string
            maxLength: 255
            minLength: 1
        - name: businessId
          in: path
          description: Customer business id.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessPartnerDto'
        '404':
          description: NOT FOUND
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorSchemasDto'
              examples:
                NotFoundExample:
                  description: NotFoundExample
                  value:
                    timestamp: '2025-04-24T08:30:00Z'
                    code: DATA_NOT_FOUND
                    message: Customer with business id C2022P123456 not found
                    subErrors: []
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorSchemasDto'
              examples:
                ServerErrorExample:
                  description: ServerErrorExample
                  value:
                    timestamp: '2025-04-24T09:25:00Z'
                    code: INTERNAL_SERVER_ERROR
                    message: Database connection failed
                    subErrors: []
    post:
      tags:
        - BusinessPartners
      summary: Create business partner
      description: Create a new business partner for customer
      operationId: publicCreateBusinessPartner
      parameters:
        - name: tenantName
          in: path
          description: Unique name of tenant in multi-tenant system
          required: true
          schema:
            type: string
            maxLength: 255
            minLength: 1
        - name: businessId
          in: path
          description: Customer business id.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BusinessPartnerDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessPartnerDto'
        '400':
          description: BAD REQUEST
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorSchemasDto'
              examples:
                BadRequestExample:
                  description: BadRequestExample
                  value:
                    timestamp: '2025-04-24T08:30:00Z'
                    code: BAD_REQUEST
                    message: Invalid field
                    subErrors:
                      - field: accountName
                        message: This field is required
                        code: MUST_NOT_BE_NULL
        '404':
          description: NOT FOUND
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorSchemasDto'
              examples:
                NotFoundExample:
                  description: NotFoundExample
                  value:
                    timestamp: '2025-04-24T08:30:00Z'
                    code: DATA_NOT_FOUND
                    message: Customer with business id C2022P123456 not found
                    subErrors: []
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorSchemasDto'
              examples:
                ServerErrorExample:
                  description: ServerErrorExample
                  value:
                    timestamp: '2025-04-24T09:25:00Z'
                    code: INTERNAL_SERVER_ERROR
                    message: Database connection failed
                    subErrors: []
  '/v2/{tenantName}/contracts':
    get:
      tags:
        - Contract
      summary: List contracts
      description: Get contracts based on search criteria
      operationId: publicGetContracts
      parameters:
        - name: tenantName
          in: path
          description: Unique name of tenant in multi-tenant system
          required: true
          schema:
            type: string
            maxLength: 255
            minLength: 1
        - name: page
          in: query
          description: Number of the requested page
          required: false
          schema:
            type: integer
            format: int32
        - name: size
          in: query
          description: Size of the requested page. Default is 20. Maximum is 100.
          required: false
          schema:
            type: integer
            format: int32
        - name: customer
          in: query
          description: >-
            Customer generated business id. Format is= CXyyyynnnnnn (X = C
            "company"; P "private"; B "B2C" , yyyy = year of creation, nnnnnnnn
            = random ID (6)).
          required: false
          schema:
            type: string
        - name: operator
          in: query
          description: Operator generated business id
          required: false
          schema:
            type: string
        - name: startTime
          in: query
          description: Start date and time of contract (UTC)
          required: false
          schema:
            type: string
            format: date-time
        - name: endTime
          in: query
          description: End date and time of contract (UTC)
          required: false
          schema:
            type: string
            format: date-time
        - name: sortBy
          in: query
          description: Sort field
          required: false
          schema:
            type: string
        - name: sortDirection
          in: query
          description: Sort direction
          required: false
          schema:
            type: string
            enum:
              - ASC
              - DESC
            title: SortDirectionDto
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractPageV2Dto'
        '404':
          description: NOT FOUND
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorSchemasDto'
              examples:
                NotFoundExample:
                  description: NotFoundExample
                  value:
                    timestamp: '2025-04-24T08:30:00Z'
                    code: DATA_NOT_FOUND
                    message: Tenant not found
                    subErrors: []
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorSchemasDto'
              examples:
                ServerErrorExample:
                  description: ServerErrorExample
                  value:
                    timestamp: '2025-04-24T09:25:00Z'
                    cod@PreAuthorize(Constants.HAS_ANY_CCC_ADMIN_ROLE)e: INTERNAL_SERVER_ERROR
                    message: Database connection failed
                    subErrors: []
    post:
      tags:
        - Contract
      summary: Create contract.
      description: >-
        <p>Create contract. The validations at the creation of a contract
        are:</p>  <ul>    <li>startTime is mandatory</li>    <li>startTime is
        less than or equal to endTime</li>    <li>      product validations     
        <ul>        <li>productStatus is ACTIVE</li>        <li>the list of
        facilities of the product belongs to the operator of the
        contract</li>      </ul>    </li>  </ul>
      operationId: publicCreateContract
      parameters:
        - name: tenantName
          in: path
          description: Unique name of tenant in multi-tenant system
          required: true
          schema:
            type: string
            maxLength: 255
            minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContractDetailsCreationRequestDto'
        required: true
      responses:
        '201':
          description: CREATED
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractDetailsV2Dto'
        '400':
          description: BAD REQUEST
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorSchemasDto'
              examples:
                BadRequestExample:
                  description: BadRequestExample
                  value:
                    timestamp: '2025-04-24T08:30:00Z'
                    code: BAD_REQUEST
                    message: Invalid field
                    subErrors:
                      - field: startTime
                        message: This field is required
                        code: MUST_NOT_BE_NULL
        '404':
          description: NOT FOUND
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorSchemasDto'
              examples:
                NotFoundExample:
                  description: NotFoundExample
                  value:
                    timestamp: '2025-04-24T08:30:00Z'
                    code: DATA_NOT_FOUND
                    message: Tenant not found
                    subErrors: []
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorSchemasDto'
              examples:
                ServerErrorExample:
                  description: ServerErrorExample
                  value:
                    timestamp: '2025-04-24T09:25:00Z'
                    code: INTERNAL_SERVER_ERROR
                    message: Database connection failed
                    subErrors: []
  '/v2/{tenantName}/contract/{subContractBusinessId}/consumers/{consumerBusinessId}/product-upgrades':
    get:
      tags:
        - ProductUpgrade
      summary: Get all products upgrades by sub-contract and consumer
      operationId: externalGetAllProductsUpgradesBySubContractAndConsumer
      parameters:
        - name: tenantName
          in: path
          description: Unique name of tenant in multi tenant system
          required: true
          schema:
            type: string
            maxLength: 255
            minLength: 1
        - name: subContractBusinessId
          in: path
          description: Contract business id
          required: true
          schema:
            type: string
        - name: consumerBusinessId
          in: path
          description: Consumer business id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProductUpgradeDto'
        '404':
          description: NOT FOUND
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductUpgradeNotFoundApiErrorDto'
              examples:
                NotFoundExample:
                  description: NotFoundExample
                  value:
                    timestamp: '2025-04-24T08:30:00Z'
                    code: DATA_NOT_FOUND
                    message: >-
                      Consumer with businessId 'N2023RZRLWdOD' associated to
                      sub-contract with businessId 'A202212345678' was not found
                    subErrors: []
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorSchemasDto'
              examples:
                ServerErrorExample:
                  description: ServerErrorExample
                  value:
                    timestamp: '2025-04-24T09:25:00Z'
                    code: INTERNAL_SERVER_ERROR
                    message: Database connection failed
                    subErrors: []
    post:
      tags:
        - ProductUpgrade
      summary: Create a new product upgrade
      operationId: externalCreateProductUpgrade
      parameters:
        - name: tenantName
          in: path
          description: Unique name of tenant in multi tenant system
          required: true
          schema:
            type: string
            maxLength: 255
            minLength: 1
        - name: subContractBusinessId
          in: path
          description: Contract business id
          required: true
          schema:
            type: string
        - name: consumerBusinessId
          in: path
          description: Consumer business id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductUpgradeDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductUpgradeDto'
        '400':
          description: BAD REQUEST
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductUpgradeApiErrorDto'
              examples:
                BadRequestExample:
                  description: BadRequestExample
                  value:
                    timestamp: '2025-04-24T08:30:00Z'
                    code: ILLEGAL_ARGUMENT
                    message: Invalid Product Upgrade
                    subErrors:
                      - field: upgradedFromProduct.validUntil
                        message: ValidUntil should be ValidFrom minus one day
                        code: INVALID_UPGRADE_VALID_UNTIL
        '404':
          description: NOT FOUND
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductUpgradeNotFoundApiErrorDto'
              examples:
                NotFoundExample:
                  description: NotFoundExample
                  value:
                    timestamp: '2025-04-24T08:30:00Z'
                    code: DATA_NOT_FOUND
                    message: Consumer with business id 'N2023YjugGPSZ' was not found
                    subErrors: []
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorSchemasDto'
              examples:
                ServerErrorExample:
                  description: ServerErrorExample
                  value:
                    timestamp: '2025-04-24T09:25:00Z'
                    code: INTERNAL_SERVER_ERROR
                    message: Database connection failed
                    subErrors: []
  '/v2/{tenantName}/consumers':
    post:
      tags:
        - Consumer
      summary: List consumers
      description: >-
        Get list of consumers matching search criteria. Supported types of
        consumers are: RegularConsumer and OneTimeConsumer who have visits with
        status Booked.<br/> Requires at least one of the following
        permissions:<br/> - `customers-contracts-manager_read`<br/> -
        `customers-contracts-manager_consumers_regular_list_read`<br/> -
        `customers-contracts-manager_consumers_visitor_list_read`<br/>
      operationId: publicGetConsumers
      parameters:
        - name: tenantName
          in: path
          description: Unique name of tenant in multi-tenant system
          required: true
          schema:
            type: string
            maxLength: 255
            minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConsumerSearchRequestDto'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsumersPageDto'
        '403':
          description: UNAUTHORIZED
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorSchemasDto'
              examples:
                UnauthorizedExample:
                  description: UnauthorizedExample
                  value:
                    timestamp: '2025-04-24T08:30:00Z'
                    code: FORBIDDEN
                    message: Missing required permission
                    subErrors: []
        '404':
          description: NOT FOUND
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorSchemasDto'
              examples:
                NotFoundExample:
                  description: NotFoundExample
                  value:
                    timestamp: '2025-04-24T08:30:00Z'
                    code: DATA_NOT_FOUND
                    message: Tenant not found
                    subErrors: []
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorSchemasDto'
              examples:
                ServerErrorExample:
                  description: ServerErrorExample
                  value:
                    timestamp: '2025-04-24T09:25:00Z'
                    code: INTERNAL_SERVER_ERROR
                    message: Database connection failed
                    subErrors: []
  '/v2/{tenantName}/consumers/visitor':
    post:
      tags:
        - VisitorConsumer
      summary: Create a new visitor
      operationId: publicCreateVisitor
      parameters:
        - name: tenantName
          in: path
          description: Unique name of tenant in multi tenant system
          required: true
          schema:
            type: string
            maxLength: 255
            minLength: 1
        - name: validity-check
          in: header
          required: false
          schema:
            type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/consumer-visitor_creation_request'
      responses:
        '201':
          description: CREATED
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/consumer-visitor'
        '400':
          description: BAD REQUEST
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VisitorConsumerApiErrorDto'
              examples:
                BadRequestExample:
                  description: BadRequestExample
                  value:
                    timestamp: '24-04-2025 08:30:00'
                    code: ILLEGAL_ARGUMENT
                    message: Invalid visit
                    subErrors:
                      - field: startTime
                        message: >-
                          Visit start time can't be before contract start time
                          or after contract end time
                        code: INVALID_VISIT_WITH_CONTRACT_START_DATE
        '404':
          description: NOT FOUND
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorSchemasDto'
              examples:
                NotFoundExample:
                  description: NotFoundExample
                  value:
                    timestamp: '24-04-2025 08:30:00'
                    code: DATA_NOT_FOUND
                    message: Tenant not found
                    subErrors: []
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorSchemasDto'
              examples:
                ServerErrorExample:
                  description: ServerErrorExample
                  value:
                    timestamp: '24-04-2025 08:30:00'
                    code: INTERNAL_SERVER_ERROR
                    message: Database connection failed
                    subErrors: []
  '/v2/{tenantName}/consumers/regular':
    post:
      tags:
        - RegularConsumer
      summary: List of regular consumers
      description: Get list of regular consumers with search criteria
      operationId: publicGetRegularConsumers
      parameters:
        - name: tenantName
          in: path
          description: Unique name of tenant in multi-tenant system
          required: true
          schema:
            type: string
            maxLength: 255
            minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegularConsumerSearchParamsDto'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsumerPageByCustomerDto'
        '404':
          description: NOT FOUND
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorSchemasDto'
              examples:
                NotFoundExample:
                  description: NotFoundExample
                  value:
                    timestamp: '2025-04-24T08:30:00Z'
                    code: DATA_NOT_FOUND
                    message: Consumer with business id 'N2023YjugGPSZ' was not found
                    subErrors: []
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorSchemasDto'
              examples:
                ServerErrorExample:
                  description: ServerErrorExample
                  value:
                    timestamp: '2025-04-24T09:25:00Z'
                    code: INTERNAL_SERVER_ERROR
                    message: Database connection failed
                    subErrors: []
  '/v2/{tenantName}/consumers/registrations':
    post:
      tags:
        - Registration
      summary: Create self-registration
      description: >-
        Creates a customer and consumer for a self-registered user.  No products
        are assigned during registration.  Products are selected later through
        the product assignment endpoint and are associated with a newly created
        contract.  A product is assigned to the consumer only after successful
        payment confirmation.
      operationId: externalCreateSelfRegistration
      parameters:
        - name: tenantName
          in: path
          required: true
          schema:
            type: string
            maxLength: 255
            minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSelfRegistrationRequestDto'
        required: true
      responses:
        '201':
          description: Self-registration successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SelfRegistrationResponseDto'
        '400':
          description: BAD REQUEST
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorSchemasDto'
              examples:
                BadRequestExample:
                  description: BadRequestExample
                  value:
                    timestamp: '2025-04-24T08:30:00Z'
                    code: BAD_REQUEST
                    message: Invalid field
                    subErrors:
                      - field: firstName
                        message: This field is required
                        code: MUST_NOT_BE_NULL
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorSchemasDto'
              examples:
                ServerErrorExample:
                  description: ServerErrorExample
                  value:
                    timestamp: '2025-04-24T09:25:00Z'
                    code: INTERNAL_SERVER_ERROR
                    message: Database connection failed
                    subErrors: []
  '/v2/{tenantName}/consumers/registrations/{consumerBusinessId}/products':
    post:
      tags:
        - Registration
      summary: Assign products to the self-registered regular consumer
      description: Assign new products to the self-registered regular consumer.
      operationId: externalAssignSelfRegisteredConsumerContractProducts
      parameters:
        - name: tenantName
          in: path
          description: Unique name of tenant in multi-tenant system
          required: true
          schema:
            type: string
            maxLength: 255
            minLength: 1
        - name: consumerBusinessId
          in: path
          description: >-
            Consumer generated business id. Format is= Nyyyynnnnnnnn (yyyy =
            year of creation, nnnnnnnn = random ID (8)).
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductAssignmentRequest'
        required: true
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractProductAssignmentResponse'
        '404':
          description: NOT FOUND
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorDto'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorDto'
  '/v2/{tenantName}/bookings':
    get:
      tags:
        - FlexibleBooking
      summary: >-
        Get flexible bookings by search criteria. Default sort criteria are
        startDateTime and endDateTime in desc order
      operationId: publicGetFlexibleBookings
      parameters:
        - name: tenantName
          in: path
          description: Unique name of tenant in multi tenant system
          required: true
          schema:
            type: string
            maxLength: 255
            minLength: 1
        - name: page
          in: query
          description: Number of the requested page
          required: false
          schema:
            type: integer
            format: int32
        - name: size
          in: query
          description: page size. Default is 20. Maximum is 100.
          required: false
          schema:
            type: integer
            format: int32
            maximum: 100
        - name: consumerBusinessId
          in: query
          description: Consumer's business id
          required: false
          schema:
            type: string
        - name: contractBusinessId
          in: query
          description: Contract business id
          required: false
          schema:
            type: string
        - name: productBusinessId
          in: query
          description: Product business id
          required: false
          schema:
            type: string
        - name: facilityBusinessId
          in: query
          description: Facility business id
          required: false
          schema:
            type: string
        - name: startDateTime
          in: query
          description: Bookings that inclusively start after this date.
          required: false
          schema:
            type: string
            format: date-time
        - name: endDateTime
          in: query
          description: Bookings that exclusively start before this date.
          required: false
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlexibleBookingPageDto'
        '404':
          description: NOT FOUND
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorSchemasDto'
              examples:
                NotFoundExample:
                  description: NotFoundExample
                  value:
                    timestamp: '2025-04-24T08:30:00Z'
                    code: TENANT_NOT_FOUND
                    message: Tenant not found
                    subErrors: []
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorSchemasDto'
              examples:
                ServerErrorExample:
                  description: ServerErrorExample
                  value:
                    timestamp: '2025-04-24T09:25:00Z'
                    code: INTERNAL_SERVER_ERROR
                    message: Database connection failed
                    subErrors: []
    post:
      tags:
        - FlexibleBooking
      summary: Create a new flexible booking for consumer
      description: >-
        Creates a flexible booking for a consumer.  The API supports two booking
        modes determined by the relationship between `startDateTime` and
        `endDateTime`:  - **Whole-day booking** (`startDateTime ==
        endDateTime`): The booking covers the entire calendar day.   The access
        profile associated with the product must allow all-day access on the
        requested day of the week. - **Intra-day booking** (`endDateTime >
        startDateTime`): The booking covers a specific time range within a
        single day.   Both `startDateTime` and `endDateTime` must fall on the
        same calendar day, and the duration must be at least 1 hour.   The time
        range must be fully included in one of the product's access profile
        recurrence windows.  Invalid requests (e.g. `endDateTime <
        startDateTime`, cross-day intra-day range, duration under 1 hour, or
        access profile mismatch) are rejected with a `400` response containing a
        specific error code and message.
      operationId: publicCreateFlexibleBooking
      parameters:
        - name: tenantName
          in: path
          description: Unique name of tenant in multi tenant system
          required: true
          schema:
            type: string
            maxLength: 255
            minLength: 1
        - name: X-Action-Origin
          in: header
          description: >-
            Indicates the origin or source that triggered this API call. Example
            values: `transaction-manager`.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FlexibleBookingCreationRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlexibleBookingDto'
        '400':
          description: BAD REQUEST
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlexibleBookingApiErrorDto'
              examples:
                BadRequestExample:
                  description: BadRequestExample
                  value:
                    timestamp: '2025-04-24T08:30:00Z'
                    code: ILLEGAL_ARGUMENT
                    message: Invalid booking
                    subErrors:
                      - field: startDateTime
                        message: >-
                          Booking overlapping not allowed for the same consumer,
                          product, facility and datetime
                        code: INVALID_BOOKING_OVERLAP
        '404':
          description: NOT FOUND
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlexibleBookingNotFoundApiErrorDto'
              examples:
                NotFoundExample:
[...]
